.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: #fff;
  z-index: 999;
}
.logo {
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  .container {
    padding: 1rem;
  }
}
